################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testTOKEN/.vs/testTOKEN/FileContentIndex
